body {
  background-color: rgb(245, 245, 245);
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(200,200,200);
  background-color: white;
}
.instaLogo {
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fa.fa-camera-retro {
  font-size: 46px;
}

.insta {
  font-size: 1.8em;
  width: 50%;
  margin-left: 36px;
}

.input{
  width: 40.5%;
  display: flex;
  justify-content: flex-end;
}
input {
  width: 29%;
  height: 31%;
  margin-top: 8px;
  border-radius: 15px;
  text-align: center;
}
.contenairIcon {
  width: 15%;
  display: flex;
  justify-content: center;
}
.icons {
  font-size: 1.5em;
  word-spacing: 4vh;
  width: 40.5%;
  justify-content: center;
  display: flex;
}


.avatar {
  height: 25vh;
  width: 13%;
  background-image: url(perfil.jpg);
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  margin-left: 17%;
  margin-top: 10vh;
}
.pseudo {
  position: absolute;
  margin-left: 38%;
  margin-top: -26vh;
  font-size: 2em;
}
ul {
  list-style: none;
  position: absolute;
  margin-left: 31%;
  margin-top: -19vh;
  font-size: 1.1em;
}
ul li {
  display: table-cell; /* affichage en ligne */
  padding-left: 7vh;
}
.para {
  position: absolute;
  margin-left: 38%;
  margin-top: -13vh;
  font-size: 1.1em;
}
.folow {
  position: absolute;
  margin-left: 56%;
  margin-top: -26vh;
  height: 33px;
  width: 8%;
  background-color: #70C050;
  font-size: 1em;
  color: white;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideFolow {
  position: absolute;
  margin-left: 64.3%;
  margin-top: -26vh;
  height: 33px;
  width: 3%;
  background-color: #70C050;
  font-size: 1em;
  color: white;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*IMAGE*/
.contenair {
  margin-top: 8vh;
  width: 75%;
  height: 100%;
  margin-left: 12%;
}
.img {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
  margin-top: 5vh;
}

.o {
	height: 42vh;
	width: 30%;
  overflow: hidden;
}
img {
  height: auto;
  width: 150%;
}
